<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/master}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FBC Sanctions Maintanance</title>
</head>
<body>


<div layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">

                <h4 class="page-title">When you are having problems try the following:</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="tab-content">
                        <div class="tab-pane show active" id="input-types-preview">
                            <div class="row">
                                <div class="col-lg-12">

                                    <ul>
                                        <li><h4>Clear your browser history</h4></li>
                                        <li><h4>Make sure you are accessing the correct URLs</h4></li>
                                        <li><h4>Try using a latest browser: Google Chrome or New Microsoft Edge</h4></li>
                                        <li><h4
                                        >Make sure your LAN is working</h4></li>
                                    </ul>

                                </div> <!-- end col -->

                            </div>
                            <!-- end row-->
                        </div> <!-- end preview-->

                    </div> <!-- end tab-content-->

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div>
</div>

</body>
</html>