<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/master}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FBC Sanctions Maintanance</title>
</head>
<body>


<div layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Add to Sanctions</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                    </ol>
                </div>
                <h4 class="page-title">Add to Sanctions</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <div class="alert alert-success" role="alert" th:if = "${message}">
                        <strong th:text="${message}"> </strong>
                    </div>

                    <a href="/maintain" class="btn btn-outline-primary">Add to Sanctions</a>
                    <br><br>
                    <ul class="nav nav-tabs nav-bordered mb-3">
                        <li class="nav-item">
                            <a href="#small-table-preview" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                Preview Sanction List
                            </a>
                        </li>
                    </ul> <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="small-table-preview">
                            <div class="table-responsive-sm">
                                <table class="table table-sm table-centered mb-0 table-hover">
                                    <thead>
                                    <tr>
                                        <th width="65%">Name and Profile</th>
                                        <th width="5%">Status</th>
                                        <th width="25%">Source</th>
                                        <th width="5%">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sanction : ${sanctions}">
                                        <td th:text="${sanction.name}"></td>
                                        <td th:text="${sanction.status}"></td>
                                        <td th:text="${sanction.source}"></td>
                                        <td><div>
                                            <a th:href="@{'/edit/' +  ${sanction.id }}" class="dripicons-document-edit"></a>
                                        </div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                            <div class="table-responsive-sm mt-3" style="border-top: 3px solid #eeeeee">

                                <nav class="float-left mt-1">
                                    <ul>
                                        <li>Total Items: [[${totalItems}]] -  Page: [[${currentPage}]] of [[${totalPages}]]</li>
                                    </ul>
                                </nav>

                                <nav aria-label="..." class="float-right mt-1">
                                    <ul class="pagination mb-0">
                                        <li class="page-item">
                                            <a class="page-link" th:if="${currentPage > 1 }" th:href="@{/1}" tabindex="-1" aria-disabled="true">First</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" th:if="${currentPage > 1 }" th:href="@{'/' + ${currentPage - 1 }}" tabindex="-1" aria-disabled="true"><< Previous</a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" th:if="${currentPage < totalPages }" th:href="@{'/' + ${currentPage + 1 }}">Next >></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" th:if="${currentPage < totalPages }" th:href="@{'/' + ${totalPages }}">Last</a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div> <!-- end preview-->


                    </div> <!-- end tab-content-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
</div>

</body>
</html>